@using SV20T1080003.Web;
@using SV20T1080003.Web.AppCodes;
<header class="main-header">
    <!-- Logo -->
    <a href="~/Admin/Dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>E</b>M</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Eco</b>Mart</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @{
                    var userData = User.GetUserData();
                    if (userData != null)
                    {
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/employees/@userData.Photo" class="user-image" alt="User Image">
                                <span class="hidden-xs">@userData.DisplayName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/images/employees/@userData.Photo" class="img-circle" alt="User Image">

                                    <p>
                                        @userData.DisplayName
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Account/ChangePass" class="btn btn-default btn-flat">Đổi mật khẩu</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Account/Logout" class="btn btn-default btn-flat">Thoát</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
</header>