@{
    ViewBag.Title = "InputEmployee";
}

<form action="~/Home/GetEmployee" method="post">
    <input type="text" name="name" /> 
    <br />
    <input type="number" name="age" />
    <br />
    <button type="submit">Nhập</button>
</form>
