@using SV20T1080003.Web.AppCodes;
@{
    Layout = null;
    string OrderID = ViewBag.OrderID.ToString();
}

<div class="modal-dialog">
    <div class="modal-content">
        <form action="~/Admin/Order/Shipping" method="post">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chuyển giao hàng cho đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" name="id" value="@OrderID" />
                    <label class="control-label">Người giao hàng:</label>
                    <select class="form-control" name="shipperID">
                        @foreach (var item in SelectListHelper.Shippers())
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>
